/* search.css */

/* Estilos para a página de pesquisa */
.search-page {
  display: flex;
  padding: 0;
}

/* Sidebar */
.sidebar {
  width: 350px;
  background-color: #f9f9f9;
  padding: 15px;
  margin-right: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}

/* Garantir que o conteúdo interno não expanda a largura */
.sidebar * {
  max-width: 100%;
  box-sizing: border-box;
}

/* Ajustar labels */
.sidebar label {
  display: flex;
  align-items: center; /* Alinha o conteúdo verticalmente */
  margin-bottom: 0;
  font-size: 16px; /* Aumentar o tamanho da fonte */
  word-wrap: break-word;
  white-space: normal;
  text-align: left; /* Alinhar o texto à esquerda */
  padding: 10px 0; /* Adicionar espaçamento vertical */
  border-bottom: 1px solid #ddd; /* Linha fina abaixo de cada label */
}

/* Remover último border-bottom */
.sidebar label:last-child {
  border-bottom: none;
}

.car-models {
  margin-bottom: 20px;
}

.part-categories h3 {
  font-size: 18px; /* Aumentar o tamanho da fonte dos títulos */
  margin: 10px 0 5px;
  border-bottom: 1px solid #ddd; /* Linha fina abaixo dos títulos */
  padding-bottom: 5px;
}

.clear-button {
  margin-top: 20px;
  padding: 10px;
  background-color: #e11138;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  font-size: 16px; /* Aumentar o tamanho da fonte do botão */
}

/* Área de Produtos */
.product-area {
  flex-grow: 1;
  margin-left: 20px;
}

.product-area h1 {
  font-size: 28px; /* Aumentar o tamanho da fonte do título */
  margin-bottom: 20px;
}

/* Estilos dos Produtos */
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card h3 {
  margin-top: 10px;
}

.product-card p {
  margin: 5px 0;
}

.product-card-link {
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
}

/* Animações para os modelos */
.brand-models {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.brand-models.visible {
  max-height: 500px;
  opacity: 1;
}

/* Ocultar outras marcas e modelos */
.car-brands label,
.brand-models label {
  transition: opacity 0.3s ease;
}

.car-brands label.hidden,
.brand-models label.hidden {
  opacity: 0;
  pointer-events: none;
}

/* Estilizar as caixas de seleção */
input[type="checkbox"] {
  margin-right: 10px; /* Aumentar o espaçamento entre o checkbox e o texto */
}

/* Ajustar o tamanho da fonte dos títulos h2 e h3 */
.sidebar h2 {
  font-size: 20px; /* Aumentar o tamanho da fonte */
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd; /* Linha fina abaixo dos títulos */
  padding-bottom: 5px;
}

.sidebar h3 {
  font-size: 18px; /* Aumentar o tamanho da fonte */
  margin: 10px 0 5px;
  border-bottom: 1px solid #ddd; /* Linha fina abaixo dos subtítulos */
  padding-bottom: 5px;
}